@CHARSET "UTF-8";

/** --- Layout definíciók ------------------------------------------------------------------------------------------------------------------------------------*/

/*
     https://www.w3schools.com/css/css_font.asp:
        Az 1em egyenlő az aktuális betűmérettel.
        A böngészők alapértelmezett szövegmérete 16 oldal.
        Így az 1em alapértelmezett mérete 16px.
        0.75em = 10px :)
*/
html,
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
}

/** --- Layout definíciók ------------------------------------------------------------------------------------------------------------------------------------*/
#simple-body {
    background-image: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(0, #ededed),
        color-stop(0.08, #eaeaea),
        color-stop(1, #2f2f2f),
        color-stop(1, #aaaaaa)
        );
    background-image: -o-linear-gradient(top, #ededed 0%, #eaeaea 8%, #2f2f2f 100%, #aaaaaa 100%);
    background-image: -moz-linear-gradient(top, #ededed 0%, #eaeaea 8%, #2f2f2f 100%, #aaaaaa 100%);
    background-image: -webkit-linear-gradient(top, #ededed 0%, #eaeaea 8%, #2f2f2f 100%, #aaaaaa 100%);
    background-image: -ms-linear-gradient(top, #ededed 0%, #eaeaea 8%, #2f2f2f 100%, #aaaaaa 100%);
    background-image: linear-gradient(to top, #ededed 0%, #eaeaea 8%, #2f2f2f 100%, #aaaaaa 100%);
}


#bodyWrapper {
    padding: 0;
    margin: 0;
    min-height:100%;
}

#header {
    top:0;
    position: absolute;
    width: 100%;

    height: 4em;

    color: white;
    background-color: hsla(0, 5%, 96%, 0.57);
}

#main {
    /*    min-height: 87.5%;*/
    min-height: 89vh;
    padding-top: 4em;
    padding-bottom: 2em;
    background-color: hsla(24, 30%, 90%, 0.3);

}

#footer {
    background-color: hsla(0, 0%, 78%, 0.29);
    color: black;
    width: 100%;
    height: 1.3em;
    margin-top: -1em;
    font-size: 0.6em;
}

/* Képernyő közepére */
.centerOfScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    /* a 'margin-left'-et és a 'margin-top'-ot a komponens mérete szerint utánahúzni! */
}


.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}

/** --- Header feliratok ------------------------------------------------------------------------------------------------------------------------------*/
.header-version {
    font-size: 1.8em;
    font-weight: bold;
    font-family: Arial;
    color: teal;
}
.header-detail-prompt {
    font-size: 0.7em;
}
.header-detail-value {
    font-size: 0.7em;
    margin-left: 0.5em
}

/** --- Általánoc -------------------------------------------------------------------------------------------------------------------------------------*/
.disabled-text {
    color: grey;
}


/** --- Input -----------------------------------------------------------------------------------------------------------------------------------------*/
/* Watermark jelszóhoz */
.ui-watermark {
    color: #d0d0d0 !important;
}
/* IE watermark */
*:-ms-input-placeholder {
    color: #d0d0d0 !important;
}


/** --- PanelGrid ---------------------------------------------------------------------------------------------------------------------------------*/
/* Panelgrid margin és padding nélkül */
.strictPanelGrid.ui-panelgrid>*>tr,
.strictPanelGrid.ui-panelgrid>*>tr>td {
    margin: 0;
    padding: 0;
}

/* Panelgrid keret nélkül */
.noBorderPanelGrid.ui-panelgrid>*>tr,
.noBorderPanelGrid.ui-panelgrid>*>tr>td {
    border: none;
}

/* Átlátszó panelgrid */
.transparentPanelGrid tr,
.transparentPanelGrid td {
    background: transparent !important;
}

/** cellatartalom felülre */
.top-aligned-columns td{
    vertical-align: top;
}

/** cellatartalom jobbra */
.rigth-aligned-columns td{
    text-align: right;
}

/** cellatartalom közlépre */
.rigth-aligned-columns td{
    text-align: center;
}

/** cellatartalom balra */
.rigth-aligned-columns td{
    text-align: left;
}

/** --- Nézegetős Dialógusok PanelGrid ------------------------------------------------------------------------------------------------------------*/
.viewDlgTblPrompt{
    text-align: right;
    font-weight: bold;
    background-color: menu;
}
.viewDlgTblValue{
}


/** --- DataTable ---------------------------------------------------------------------------------------------------------------------------------*/
.ui-datatable,
.ui-datatable .ui-datatable-tablewrapper table {
    font-size: 1em !important;
}

/* For Paginator */
.ui-datatable .ui-paginator .ui-paginator-first,
.ui-datatable .ui-paginator .ui-paginator-prev,
.ui-datatable .ui-paginator .ui-paginator-pages .ui-paginator-page,
.ui-datatable .ui-paginator .ui-paginator-next,
.ui-datatable .ui-paginator .ui-paginator-last,
.ui-datatable .ui-paginator .ui-paginator-rpp-options {
    font-size: 1em !important;
}
.ui-datatable .ui-paginator .ui-paginator-current {
    font-size: 1em !important;
}


/* filter a header text után */
.ui-datatable th .ui-column-filter {
    display: inline;
    margin-left: 0.5em;
}

/* Header */
/*.ui-datatable .ui-datatable-header {
    font-size: 1em !important;
}*/

/* lábléc */
/*.ui-datatable-footer {
    font-size: 0.9em !important;
}*/

/* tábla Fejléc */
/*.ui-datatable th {
    font-size: 0.7em !important;
}*/

/* adatsorok */
/*.ui-datatable td {
    font-size: 0.7em !important;
}*/

/* paginator */
/*.ui-paginator {
    font-size: 0.9em !important;
    font-weight: normal;
}*/

/* kijelölt cellatartalom text shadow*/
.ui-datatable .ui-state-highlight {
    text-shadow: none !important;
}
/** -----------------------------------------------------------------------------------------------------------------------------------------------*/
